<app-map></app-map>
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)"> -->
<form [formGroup]="form">
    <div class="container mt-2">
      <div class="row">
        <div class="col-md-4">
          <fieldset>
            <legend>REPORTED BY</legend>
            <div class="mb-4">
              <label for="rname" class="form-label">Name:</label>
              <input type="text" id="rname" name="rname" placeholder="Enter your name..." formControlName="rname" class="form-control" (change)="checkRequired()">
            </div>
            <div class="mb-2">
              <label for="phone" class="form-label">Phone:</label>
              <input type="tel" id="phone" name="phone" placeholder="XXX-XXX-XXXX" formControlName="phone" class="form-control" (change)="checkPhone('phone'); checkRequired()">
            </div>
            <div *ngIf="phoneMessage" class="text-danger">
                {{ phoneMessage }}
            </div>
          </fieldset>
        </div>
        <div class="col-md-8">
          <fieldset>
            <legend>BEING REPORTED <button class="addloc-btn" routerLink="/people/addlocation">ADD LOCATION</button></legend>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-4">
                  <label for="location" class="form-label">Location:</label>
                  <select id="location" name="location" formControlName="location" class="form-control" (change)="checkRequired()">
                    <option value="" disabled selected>Select a location</option>
                    <option *ngFor="let loc of locations" [value]="loc.location">{{ loc.location }}</option>
                  </select>
                </div>
                <div class="mb-2">
                  <label for="name" class="form-label">Baddie's Name:</label>
                  <input type="text" id="name" name="name" placeholder="Enter baddie's name..." formControlName="name" class="form-control" (change)="checkRequired()">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-4">
                  <label for="extra" class="form-label">Extra Info:</label>
                  <input type="text" id="extra" name="extra" placeholder="Enter extra info..." formControlName="extra" class="form-control" (change)="checkRequired()">
                </div>
                <div class="mb-2">
                    <label for="image" class="form-label">Image Link:</label>
                    <input type="url" id="image" name="image" placeholder="Enter image url... (optional)" formControlName="image" class="form-control" (change)="checkRequired()">
                </div>
              </div>
            </div>
            <div *ngIf="errorMessage" class="text-danger">
                {{ errorMessage }}
            </div>
          </fieldset>
        </div>
      </div>
      <!-- <button class="save-btn mt-2" (click)="onSubmit()" [disabled]="!form.valid">SAVE</button> -->
      <button class="save-btn mt-2" (click)="onSubmit(form.value)">SAVE</button>
    </div>
  </form>
  